@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #9d6b53;
  --secondary-color: #d69f7e;
}
body {
  background-color: var(--primary-color);
  font-family: "Courgette", cursive;
}

.App {
  background-color: var(--secondary-color);
  width: 75vw;
  margin: 6rem auto;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  box-shadow: -2px 2px 2px black;
}

.App h1 {
  padding: 1rem;
  margin-bottom: 1rem;
}
input {
  width: 70%;
  margin: 1rem auto;
  padding: 0.6rem;
  border-radius: 10px;
  outline: none;
}
.fruit-meaning {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  padding: 0.6rem;
  text-decoration: underline;
  text-align: center;
}
.fruit-container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.fruit-container-items {
  display: inline-block;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
